* {
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
  color: white;
}

.contactus {
  width: 100%;
  height: auto;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0px 50px;
  position: relative;
  overflow-x: hidden;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(112, 112, 112, 0.618)), color-stop(rgba(14, 40, 183, 0.742)), color-stop(rgba(14, 163, 61, 0.774)), to(rgba(0, 0, 0, 0.297)));
  background-image: linear-gradient(to right, rgba(112, 112, 112, 0.618), rgba(14, 40, 183, 0.742), rgba(14, 163, 61, 0.774), rgba(0, 0, 0, 0.297));
}

.contactus p {
  margin: 30px 0px;
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  position: relative;
}

.contactus p::after {
  content: "";
  bottom: 1px;
  height: 1px;
  width: 50px;
  background-color: #bbbbbb;
  position: absolute;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.contactus:hover p::after {
  width: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.contactus .contactinfo .contactheading {
  display: block;
  font-size: 24px;
  margin: 80px 0px 16px;
  padding-left: 20px;
  color: white;
}

.contactus .contactinfo .info {
  font-size: 16px;
  margin: 0px 0px 16px;
  padding-left: 20px;
  color: white;
  display: block;
}

.contactus .contactinfo .info::after {
  width: 0px;
  height: 0px;
}

.contactus .contactinfo .fonts {
  list-style: none;
  padding-left: 20px;
  color: white;
  margin-bottom: 5px !important;
}

.contactus .contactinfo .fonts i {
  color: white;
  margin-right: 5px;
}

.contactus .contactinfo .hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contactus .contactinfo .hover a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  color: white;
}

.contactus .contactinfo .hover:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contactus .contactinfo .hover:hover a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  color: #03035c;
}

.contactus .contactinfo .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
}

.contactus .contactinfo .social li {
  width: 37px;
  border: 1px solid #03035c;
  background-color: transparent;
  display: block;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  margin-right: 10px !important;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.contactus .contactinfo .social li:hover {
  background-color: #03035c;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.contactus .contactinfo .social li:hover a i {
  -webkit-transition: 0.35s;
  transition: 0.35s;
  color: white;
}

.contactus .contactinfo .social li a {
  text-decoration: none;
}

.contactus .contactinfo .social li a i {
  -webkit-transition: 0.35s;
  transition: 0.35s;
  color: #03035c;
}

.contactus .contactinfo .social li a:hover {
  text-decoration: none;
}

.contactus .contactemail .contactinput {
  margin: 0px 0px 25px;
}

.contactus .contactemail .contactinput span {
  display: block;
  font-size: 16px;
  margin: 0px 0px 5px;
  color: #ffffff;
}

.contactus .contactemail .contactinput span i {
  color: #03035c;
}

.contactus .contactemail .contactinput input {
  width: 100%;
  height: 44px;
  padding: 3px 10px 5px 15px;
}

.contactus .contactemail .contactinput input:focus-visible {
  outline: 1px solid blue;
}

.contactus .contactemail .contactinput input:focus {
  color: #0020ad;
}

.contactus .contactemail button {
  width: 100%;
  height: 44px;
  background-color: #03035c;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  color: white;
}

.contactus .contactemail button:hover {
  background-color: #0000c9;
}

.contactus .contacttextarea span {
  display: block;
  font-size: 16px;
  margin: 0px 0px 5px;
  color: #ffffff;
}

.contactus .contacttextarea span i {
  color: #03035c;
}

.contactus .contacttextarea textarea {
  width: 100%;
  min-height: 300px;
  padding: 3px 10px 5px 15px;
  resize: none;
}

.contactus .contacttextarea textarea:focus-visible {
  outline: 1px solid blue;
}

.contactus .contacttextarea textarea:focus {
  color: #0020ad;
}

@media only screen and (max-width: 500px) {
  .col-md-6, .col-md-4, .col-md-12, .col-sm-6 {
    padding: 0px !important;
  }
  .displaynone {
    display: none;
  }
}
/*# sourceMappingURL=contactus.css.map */