*{
    margin: 0;
    padding: 0;

    a{
        text-decoration: none;
        color: white;
    }
}


.projectsection{
    width: 100%;
    height: auto;
    background-color: rgb(71, 71, 71);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px 50px;
    position: relative;
    background-image: linear-gradient(
        to right,
        rgba(134, 134, 134, 0.618),
        rgba(199, 202, 35, 0.453),
        rgba(27, 166, 117, 0.523),
        rgba(0, 0, 0, 0.297)
      );
    img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        transition: 0.35s;

    }

    .photomarg{
        margin: 40px 0px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -100px;
        border-radius: 20px;
        min-height: 400px;
    }

    h1{
        position: absolute;
        top: 40px;
        left: 60px;
        color: white;
        opacity: 50%;
    }

    p{
        margin: 30px 0px;
        font-size: 60px;
        display: flex;
        justify-content: center;
        color: white;
        position: relative;

        &::after{
            content: "";
            bottom: 1px;
            height: 1px;
            width: 50px;
            background-color: #bbbbbb;
            position: absolute;
            transition: 0.6s;
        }
        
    }

    &:hover{

        p{
            &::after{
                width: 100%;
                transition: 0.6s;
            }
        }
    }


    a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 40px;
        margin: 300px 0px 30px 30px;
        border: 1px solid white;
        border-radius: 20px;
        text-decoration: none;
        transition: 0.35s;


        i{
            margin: 2px 0px 0px 10px;
            transition: 0.35s;
        }


        &:hover{
            border: 1px solid rgb(39, 50, 209);
            background-color: rgb(39, 50, 209);
            color: white;
            transition: 0.35s;

            i{
                transform: translateX(5px);
                transition: 0.35s;
            }
        }
    }
}



@media only screen and (max-width: 768px) {

    .projectsection{
        width: 100%;
        height: auto;
        background-color: rgb(71, 71, 71);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 0px 50px;
        position: relative;
    
    
        .photomarg{
            margin: 40px 0px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: -100px;
            border-radius: 20px;
            min-height: 300px;
        }
    
        h1{
            position: absolute;
            top: 40px;
            left: 60px;
            color: white;
            opacity: 50%;
        }
    
        p{
            margin: 30px 0px;
            font-size: 60px;
            display: flex;
            justify-content: center;
            color: lightgrey;
            position: relative;
    
            &::after{
                content: "";
                bottom: 1px;
                height: 1px;
                width: 50px;
                background-color: #bbbbbb;
                position: absolute;
                transition: 0.6s;
            }
            
        }
    
        &:hover{
    
            p{
                &::after{
                    width: 100%;
                    transition: 0.6s;
                }
            }
        }
    
    
        a{
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            top: 190px;
            width: 200px;
            height: 40px;
            margin: 30px;
            border: 1px solid white;
            border-radius: 20px;
            text-decoration: none;
            transition: 0.35s;
    
    
            i{
                margin: 2px 0px 0px 10px;
                transition: 0.35s;
            }
    
    
            &:hover{
                border: 1px solid rgb(39, 50, 209);
                background-color: rgb(39, 50, 209);
                color: white;
                transition: 0.35s;
    
                i{
                    transform: translateX(5px);
                    transition: 0.35s;
                }
            }
        }
    }
}